<a href="https://colab.research.google.com/github/Aomaphisara/bsc_dpdm22/blob/main/midterm_dpdm22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 ทำนายราคาบ้าน 10 คะแนน
เตรียมข้อมูลเพื่อทำนายราคาบ้าน ราคาประเมินบ้าน และ คะแนนทรัพย์ จาก [google drive](https://drive.google.com/drive/folders/1uIcUFY1yldIq-A3wijh2n2N6az-EljIe?usp=sharing) โดยข้อมูลที่เตรียมต้องประกอบด้วย columns ต่อไปนี้

* ```'renovate','number_of_rai','number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','direction','furniture','usable_area','number_of_parking', 'sell_price'``` จากตาราง "คำตอบนักประเมิน(ID)"

* ```จำนวน 7-11 และ โรงเรียน ในรัศมี 200,500,1000,2000 เมตร (ตั้งชื่อ d200-7/11','d500-7/11',...,'d2000-7/11' แบะ ;d200-school','d500-school',...,'d2000-school')``` จากตาราง "7-eleven.json" และ "school.json"

* ```ประเมินราคาซื้อขาย และ คะแนนทรัพย์ (ตั้งชื่อ 'estimator' และ 'score')``` จากตาราง คำตอบนักประเมิน(ID) โดยราคาประเมินกับคะแนนทรัพย์ อ้างอิงของนักประเมิน ID=01 คนเดียว

In [ ]:
!wget -q https://github.com/Phonbopit/sarabun-webfont/raw/master/fonts/thsarabunnew-webfont.ttf
import matplotlib as mpl
mpl.font_manager.fontManager.addfont('thsarabunnew-webfont.ttf')
mpl.rc('font', family='TH Sarabun New')

In [ ]:
import statsmodels.api as sm
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd
import json
from matplotlib import pyplot as plt
from sklearn.metrics import mean_absolute_percentage_error as MAPE

In [ ]:
/#เชื่อม google drive 
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import os
os.chdir('/content/gdrive/MyDrive/bsc_DPDM_data/Midterm')

#Data House

## บ้านมือ 2

In [ ]:
link = 'https://docs.google.com/spreadsheets/d/1REdJzoGqhVn3fnM1I0GoSLzzeW2dAr2UNo1b64hNbJY/export?format=xlsx'
home2 = pd.read_excel(link,sheet_name='บ้านมือ2')
home2.head()

,id,name_th,name_en,project_name,company,province,district,sub_district,property_type,home improvement,...,furniture,building_number,number_of_building,floor_number,parking_percentage,has_pool,has_keycard,has_security,has_fitness,has_garden
0,1.0,บ้านเดี่ยว ชนบท ขอนแก่น,บ้านเดี่ยว ชนบท ขอนแก่น,บ้านวังเวิน,NaN,ขอนแก่น,ชนบท,ศรีบุญเรือง,บ้านเดี่ยว,no,...,ไม่มี,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,บ้านเดี่ยว น้ำพอง ขอนแก่น,บ้านเดี่ยว น้ำพอง ขอนแก่น,บ้านหนองบัวบาน,NaN,ขอนแก่น,น้ำพอง,ทรายมูล,บ้านเดี่ยว,no,...,ไม่มี,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16.0,บ้านเดี่ยว มัญจาคีรี ขอนแก่น,บ้านเดี่ยว มัญจาคีรี ขอนแก่น,NaN,NaN,ขอนแก่น,มัญจาคีรี,กุดเค้า,บ้านเดี่ยว,no,...,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18.0,บ้านเดี่ยว เมืองขอนแก่น หมู่บ้านชลลดา,บ้านเดี่ยว เมืองขอนแก่น หมู่บ้านชลลดา,ชลลดา ขอนแก่น,บริษัท แลนด์แอนด์เฮ้าส์ จำกัด (มหาชน),ขอนแก่น,เมืองขอนแก่น,บ้านเป็ด,บ้านเดี่ยว,no,...,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,19.0,บ้านเดี่ยว เมืองขอนแก่น หมู่บ้านเบสต์โฮม,บ้านเดี่ยว เมืองขอนแก่น หมู่บ้านเบสต์โฮม,เบสท์โฮม,เบสท์โฮม เลี่ยงเมืองขอนแก่น,ขอนแก่น,เมืองขอนแก่น,บ้านเป็ด,บ้านเดี่ยว,no,...,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
home2.columns

Index(['id', 'name_th', 'name_en', 'project_name', 'company', 'province',
       'district', 'sub_district', 'property_type', 'home improvement',
       'renovate', 'public utility', 'land type', 'land wide(m)',
       'land long(m)', 'topsoil', 'corner', 'zip_code', 'zone', 'alley',
       'street', 'latitude', 'longitude', 'number_of_rai', 'number_of_ngan',
       'number_of_va', 'construct_year', 'model', 'sell_price',
       'number_of_unit', 'number_of_story', 'number_of_bedroom',
       'number_of_bathroom', 'number_of_parking', 'usable_area',
       'central_cost', 'direction', 'furniture', 'building_number',
       'number_of_building', 'floor_number', 'parking_percentage', 'has_pool',
       'has_keycard', 'has_security', 'has_fitness', 'has_garden'],
      dtype='object')

In [ ]:
home2 = home2[['id','latitude', 'longitude','renovate','number_of_rai','number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','direction','furniture','usable_area','number_of_parking', 'sell_price']]
home2.head()

,id,latitude,longitude,renovate,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,direction,furniture,usable_area,number_of_parking,sell_price
0,1.0,16.139321,102.631587,no,0.0,1.0,45.0,2.0,2.0,2.0,ไม่ระบุ,ไม่มี,244.0,2.0,390000.0
1,4.0,16.676156,102.917998,no,0.0,0.0,88.0,1.0,1.0,1.0,ไม่ระบุ,ไม่มี,164.0,3.0,820000.0
2,16.0,16.129358,102.530670,no,1.0,0.0,8.0,1.0,11.0,11.0,ไม่ระบุ,ไม่ระบุ,489.0,9.0,3260000.0
3,18.0,16.459052,102.806404,no,0.0,0.0,61.6,2.0,3.0,3.0,ไม่ระบุ,ไม่ระบุ,203.0,2.0,5000000.0
4,19.0,16.450000,102.800680,no,0.0,0.0,72.3,2.0,3.0,2.0,ไม่ระบุ,ไม่ระบุ,164.0,2.0,3500000.0

In [ ]:
home2['second_hand'] = 'บ้านมือ2'

In [ ]:
home2

,id,latitude,longitude,renovate,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,direction,furniture,usable_area,number_of_parking,sell_price,second_hand
0,1.0,16.139321,102.631587,no,0.0,1.0,45.0,2.0,2.0,2.0,ไม่ระบุ,ไม่มี,244.00,2.0,390000.0,บ้านมือ2
1,4.0,16.676156,102.917998,no,0.0,0.0,88.0,1.0,1.0,1.0,ไม่ระบุ,ไม่มี,164.00,3.0,820000.0,บ้านมือ2
2,16.0,16.129358,102.530670,no,1.0,0.0,8.0,1.0,11.0,11.0,ไม่ระบุ,ไม่ระบุ,489.00,9.0,3260000.0,บ้านมือ2
3,18.0,16.459052,102.806404,no,0.0,0.0,61.6,2.0,3.0,3.0,ไม่ระบุ,ไม่ระบุ,203.00,2.0,5000000.0,บ้านมือ2
4,19.0,16.450000,102.800680,no,0.0,0.0,72.3,2.0,3.0,2.0,ไม่ระบุ,ไม่ระบุ,164.00,2.0,3500000.0,บ้านมือ2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1651,20460P,16.480110,102.574033,no,0.0,0.0,73.0,1.0,2.0,1.0,ไม่ระบุ,ไม่ระบุ,108.76,NaN,437400.0,บ้านมือ2
1652,20462P,16.528551,102.411762,no,0.0,0.0,84.0,1.0,2.0,1.0,ไม่ระบุ,ไม่ระบุ,119.00,NaN,714600.0,บ้านมือ2
1653,20463P,15.867444,102.482085,no,0.0,1.0,45.0,2.0,1.0,1.0,ไม่ระบุ,ไม่ระบุ,188.50,NaN,451000.0,บ้านมือ2
1654,20466P,16.636912,102.105343,no,0.0,1.0,59.0,2.0,1.0,1.0,ไม่ระบุ,ไม่ระบุ,207.00,NaN,910000.0,บ้านมือ2
1655,30358P,16.053072,102.805940,no,0.0,1.0,33.0,2.0,2.0,1.0,ไม่ระบุ,ไม่ระบุ,213.00,NaN,650000.0,บ้านมือ2

In [ ]:
home2.isnull().any()  #falseคือไม่มีค่าว่าง trueคือมีค่าว่าง

id                    False
latitude               True
longitude              True
renovate               True
number_of_rai         False
number_of_ngan        False
number_of_va          False
number_of_story        True
number_of_bedroom      True
number_of_bathroom    False
direction             False
furniture             False
usable_area            True
number_of_parking      True
sell_price             True
second_hand           False
dtype: bool

In [ ]:
print(home2.isnull().sum())

id                      0
latitude               22
longitude              22
renovate              211
number_of_rai           0
number_of_ngan          0
number_of_va            0
number_of_story       549
number_of_bedroom      27
number_of_bathroom      0
direction               0
furniture               0
usable_area           920
number_of_parking     215
sell_price              1
second_hand             0
dtype: int64

In [ ]:
#fill NA with Text เลือกfillnaเนื่องจากค่าว่างของข้อมูลมีค่อนข้างเยอะ
home2['renovate'] = home2['renovate'].fillna('Unknown') #บ้านที่ไม่ได้เติมช่องรีโนเวท fillnaว่าunknown

In [ ]:
# จำนวนลิฟต์และชั้น
home2[['number_of_story','number_of_parking','usable_area']]  = home2[['number_of_story','number_of_parking','usable_area']].fillna(0) 
# สิ่งอำนวยความสะดวก
home2[['number_of_bedroom']] = home2[['number_of_bedroom']].fillna(1) #จำนวนห้องนอนบ้านต้องมีอย่างน้อย 1 ห้อง

In [ ]:
home2['sell_price'] = home2['sell_price'].dropna()

In [ ]:
home2 = home2.dropna(subset=['sell_price'])

In [ ]:
home2['latitude'] = home2['latitude'].fillna('Unknown')

<ipython-input-161-c6e7112fd863>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home2['latitude'] = home2['latitude'].fillna('Unknown')

In [ ]:
home2['longitude'] = home2['longitude'].fillna('Unknown')

<ipython-input-162-4b7c6965449b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home2['longitude'] = home2['longitude'].fillna('Unknown')

In [ ]:
home2.isnull().any()

id                    False
latitude              False
longitude             False
renovate              False
number_of_rai         False
number_of_ngan        False
number_of_va          False
number_of_story       False
number_of_bedroom     False
number_of_bathroom    False
direction             False
furniture             False
usable_area           False
number_of_parking     False
sell_price            False
second_hand           False
dtype: bool

In [ ]:
print(home2.isnull().sum())

id                    0
latitude              0
longitude             0
renovate              0
number_of_rai         0
number_of_ngan        0
number_of_va          0
number_of_story       0
number_of_bedroom     0
number_of_bathroom    0
direction             0
furniture             0
usable_area           0
number_of_parking     0
sell_price            0
second_hand           0
dtype: int64

## บ้านมือ 1

In [ ]:
link = 'https://docs.google.com/spreadsheets/d/1REdJzoGqhVn3fnM1I0GoSLzzeW2dAr2UNo1b64hNbJY/export?format=xlsx'
home1 = pd.read_excel(link,sheet_name='บ้านมือ1')
home1.head()

,id,parent_id,project_name,province,district,sub_district,zip_code,zone_id,zone,property_type,...,cable_free,cable_none,cable_ask,position_previous,position_current,sold_out_at,is_pro_in_house,created_at,updated_at,deleted_at
0,314.0,41.0,ที สเปซ กลางเมือง,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,NaN,5.0,กลางเมือง-เมืองเก่า-กุดกว้าง,บ้านเดี่ยว,...,NaN,NaN,NaN,0.0,0.0,NaN,0.0,44012.0,44602.0,NaN
1,315.0,41.0,ที สเปซ กลางเมือง,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,NaN,5.0,กลางเมือง-เมืองเก่า-กุดกว้าง,บ้านแฝด,...,NaN,NaN,NaN,0.0,0.0,NaN,0.0,44012.0,44602.0,NaN
2,316.0,41.0,ที สเปซ กลางเมือง,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,NaN,5.0,กลางเมือง-เมืองเก่า-กุดกว้าง,บ้านเดี่ยว,...,NaN,NaN,NaN,0.0,0.0,NaN,0.0,44012.0,44602.0,NaN
3,317.0,41.0,ที สเปซ กลางเมือง,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,NaN,5.0,กลางเมือง-เมืองเก่า-กุดกว้าง,บ้านเดี่ยว,...,NaN,NaN,NaN,0.0,0.0,NaN,0.0,44012.0,44602.0,NaN
4,318.0,41.0,ที สเปซ กลางเมือง,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,NaN,5.0,กลางเมือง-เมืองเก่า-กุดกว้าง,บ้านเดี่ยว,...,NaN,NaN,NaN,0.0,0.0,NaN,0.0,44012.0,44602.0,NaN

In [ ]:
home1.columns

Index(['id', 'parent_id', 'project_name', 'province', 'district',
       'sub_district', 'zip_code', 'zone_id', 'zone', 'property_type',
       ...
       'cable_free', 'cable_none', 'cable_ask', 'position_previous',
       'position_current', 'sold_out_at', 'is_pro_in_house', 'created_at',
       'updated_at', 'deleted_at'],
      dtype='object', length=141)

In [ ]:
home1 = home1[['id','latitude','longitude','number_of_rai','number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','direction','furniture','usable_area','number_of_parking', 'sell_price']]
home1.head()

,id,latitude,longitude,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,direction,furniture,usable_area,number_of_parking,sell_price
0,314.0,16.392304,102.827926,NaN,NaN,50.00,2.0,4.0,3.0,0.0,0.0,185.0,2.0,3950000.0
1,315.0,16.392304,102.827926,NaN,NaN,40.00,2.0,4.0,3.0,0.0,0.0,165.0,2.0,3250000.0
2,316.0,16.392304,102.827926,NaN,NaN,77.25,2.0,4.0,3.0,0.0,0.0,260.0,2.0,6300000.0
3,317.0,16.392304,102.827926,NaN,NaN,81.25,2.0,6.0,5.0,0.0,0.0,343.0,3.0,6900000.0
4,318.0,16.392304,102.827926,NaN,NaN,55.00,2.0,4.0,4.0,0.0,0.0,223.0,2.0,4490000.0

In [ ]:
home1['second_hand'] = 'บ้านมือ1'

In [ ]:
home1

,id,latitude,longitude,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,direction,furniture,usable_area,number_of_parking,sell_price,second_hand
0,314.0,16.392304,102.827926,NaN,NaN,50.00,2.0,4.0,3.0,0.0,0.0,185.0,2.0,3950000.0,บ้านมือ1
1,315.0,16.392304,102.827926,NaN,NaN,40.00,2.0,4.0,3.0,0.0,0.0,165.0,2.0,3250000.0,บ้านมือ1
2,316.0,16.392304,102.827926,NaN,NaN,77.25,2.0,4.0,3.0,0.0,0.0,260.0,2.0,6300000.0,บ้านมือ1
3,317.0,16.392304,102.827926,NaN,NaN,81.25,2.0,6.0,5.0,0.0,0.0,343.0,3.0,6900000.0,บ้านมือ1
4,318.0,16.392304,102.827926,NaN,NaN,55.00,2.0,4.0,4.0,0.0,0.0,223.0,2.0,4490000.0,บ้านมือ1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,62204519412ede001495e6cb,102.875722,16.484111,NaN,NaN,NaN,1.0,3.0,2.0,NaN,NaN,125.0,2.0,2290000.0,บ้านมือ1
750,62201e6fa441d30014e1f350,102.850706,16.410972,NaN,NaN,NaN,1.0,3.0,2.0,NaN,NaN,70.0,2.0,2590000.0,บ้านมือ1
751,5fa0e476a3326800191e29ea,102.614819,15.828671,NaN,NaN,NaN,1.0,3.0,2.0,NaN,NaN,120.0,2.0,1990000.0,บ้านมือ1
752,5e9d6fa69f161600121b61b2,102.402141,15.808013,NaN,NaN,NaN,1.0,3.0,2.0,NaN,NaN,100.0,2.0,1990000.0,บ้านมือ1
753,5ea938d968253d0012adc1e2,102.722853,16.425078,NaN,NaN,NaN,1.0,3.0,2.0,NaN,NaN,138.0,2.0,2490000.0,บ้านมือ1

In [ ]:
home1.isnull().any()

id                    False
latitude               True
longitude              True
number_of_rai          True
number_of_ngan         True
number_of_va           True
number_of_story        True
number_of_bedroom      True
number_of_bathroom     True
direction              True
furniture              True
usable_area            True
number_of_parking      True
sell_price             True
second_hand           False
dtype: bool

In [ ]:
print(home1.isnull().sum())

id                      0
latitude                9
longitude               9
number_of_rai         754
number_of_ngan        754
number_of_va           92
number_of_story         4
number_of_bedroom      10
number_of_bathroom     10
direction              88
furniture              88
usable_area            36
number_of_parking      21
sell_price             21
second_hand             0
dtype: int64

In [ ]:
#fill NA with Text เลืกfillnaเนื่องจากค่าว่างของข้อมูลมีค่อนข้างเยอะ
home1[['number_of_rai','number_of_ngan','number_of_va']] = home1[['number_of_rai','number_of_ngan','number_of_va']].fillna('Unknown') #บ้านที่ไม่ได้เติมช่องรีโนเวท fillnaว่าunknown

In [ ]:
# จำนวนลิฟต์และชั้น
home1[['number_of_story','number_of_parking','usable_area','direction','furniture']]  = home1[['number_of_story','number_of_parking','usable_area','direction','furniture']].fillna(0) 
# สิ่งอำนวยความสะดวก
home1[['number_of_bedroom','number_of_bathroom']] = home1[['number_of_bedroom','number_of_bathroom']].fillna(1) #จำนวนห้องนอนบ้านต้องมีอย่างน้อย 1 ห้อง

In [ ]:
home1 = home1.dropna(subset=['sell_price'])

In [ ]:
home1['latitude'] = home1['latitude'].fillna('Unknown')

<ipython-input-175-2329bb35c606>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home1['latitude'] = home1['latitude'].fillna('Unknown')

In [ ]:
home1['longitude'] = home1['longitude'].fillna('Unknown')

<ipython-input-176-75997cbf9d22>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home1['longitude'] = home1['longitude'].fillna('Unknown')

In [ ]:
home1.isnull().any()

id                    False
latitude              False
longitude             False
number_of_rai         False
number_of_ngan        False
number_of_va          False
number_of_story       False
number_of_bedroom     False
number_of_bathroom    False
direction             False
furniture             False
usable_area           False
number_of_parking     False
sell_price            False
second_hand           False
dtype: bool

## Concat บ้านมือ1+2

In [ ]:
home = pd.concat([home2, home1])
home

,id,latitude,longitude,renovate,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,direction,furniture,usable_area,number_of_parking,sell_price,second_hand
0,1.0,16.139321,102.631587,no,0.0,1.0,45.0,2.0,2.0,2.0,ไม่ระบุ,ไม่มี,244.0,2.0,390000.0,บ้านมือ2
1,4.0,16.676156,102.917998,no,0.0,0.0,88.0,1.0,1.0,1.0,ไม่ระบุ,ไม่มี,164.0,3.0,820000.0,บ้านมือ2
2,16.0,16.129358,102.53067,no,1.0,0.0,8.0,1.0,11.0,11.0,ไม่ระบุ,ไม่ระบุ,489.0,9.0,3260000.0,บ้านมือ2
3,18.0,16.459052,102.806404,no,0.0,0.0,61.6,2.0,3.0,3.0,ไม่ระบุ,ไม่ระบุ,203.0,2.0,5000000.0,บ้านมือ2
4,19.0,16.45,102.80068,no,0.0,0.0,72.3,2.0,3.0,2.0,ไม่ระบุ,ไม่ระบุ,164.0,2.0,3500000.0,บ้านมือ2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,62204519412ede001495e6cb,102.875722,16.484111,NaN,Unknown,Unknown,Unknown,1.0,3.0,2.0,0.0,0.0,125.0,2.0,2290000.0,บ้านมือ1
750,62201e6fa441d30014e1f350,102.850706,16.410972,NaN,Unknown,Unknown,Unknown,1.0,3.0,2.0,0.0,0.0,70.0,2.0,2590000.0,บ้านมือ1
751,5fa0e476a3326800191e29ea,102.614819,15.828671,NaN,Unknown,Unknown,Unknown,1.0,3.0,2.0,0.0,0.0,120.0,2.0,1990000.0,บ้านมือ1
752,5e9d6fa69f161600121b61b2,102.402141,15.808013,NaN,Unknown,Unknown,Unknown,1.0,3.0,2.0,0.0,0.0,100.0,2.0,1990000.0,บ้านมือ1
753,5ea938d968253d0012adc1e2,102.722853,16.425078,NaN,Unknown,Unknown,Unknown,1.0,3.0,2.0,0.0,0.0,138.0,2.0,2490000.0,บ้านมือ1

In [ ]:
home.isnull().any()

id                    False
latitude              False
longitude             False
renovate               True
number_of_rai         False
number_of_ngan        False
number_of_va          False
number_of_story       False
number_of_bedroom     False
number_of_bathroom    False
direction             False
furniture             False
usable_area           False
number_of_parking     False
sell_price            False
second_hand           False
dtype: bool

#School

In [ ]:
with open('/content/gdrive/MyDrive/bsc_DPDM_data/Midterm/school.json') as json_file:
    school_json = json.loads(json_file.read())

In [ ]:
school_json.keys()  #โลเคชั่นของโรงเรียน

dict_keys(['1', '4', '6', '7', '9', '11', '16', '17', '18', '19', '2', '21', '22', '23', '24', '25', '26', '28', '29', '3', '31', '32', '33', '35', '36', '38', '491', '493', '494', '495', '496', '497', '498', '499', '508', '509', '51', '511', '512', '513', '515', '517', '518', '519', '52', '521', '522', '523', '524', '525', '526', '527', '528', '529', '531', '532', '533', '534', '535', '536', '537', '538', '539', '54', '541', '542', '543', '545', '546', '547', '548', '549', '55', '551', '552', '553', '554', '555', '557', '558', '56', '561', '562', '563', '564', '565', '566', '567', '568', '569', '57', '571', '572', '573', '574', '575', '576', '577', '578', '579', '58', '581', '582', '583', '584', '585', '586', '587', '588', '589', '59', '591', '592', '593', '594', '595', '596', '597', '598', '601', '602', '603', '604', '605', '606', '607', '608', '609', '61', '611', '612', '613', '614', '615', '616', '617', '618', '619', '62', '621', '622', '623', '624', '625', '626', '627', '628', '629', '631', '632', '633', '634', '635', '636', '637', '638', '639', '64', '641', '642', '643', '644', '645', '646', '647', '648', '649', '65', '651', '652', '653', '654', '655', '656', '657', '658', '659', '66', '661', '662', '663', '664', '665', '666', '667', '668', '669', '67', '671', '672', '673', '674', '675', '676', '677', '678', '679', '68', '681', '682', '683', '684', '685', '686', '687', '688', '689', '69', '691', '692', '693', '694', '695', '696', '697', '698', '699', '701', '702', '703', '704', '705', '706', '707', '708', '709', '71', '711', '712', '713', '714', '715', '716', '717', '718', '719', '72', '721', '722', '758', '759', '76', '761', '1024', '1033', '1056', '1057', '1058', '1061', '1062', '1063', '1064', '1065', '1066', '1067', '1068', '107', '1071', '1073', '1074', '1077', '1078', '1079', '108', '1081', '1082', '1084', '1085', '1086', '1088', '1089', '1091', '1092', '1094', '1096', '1097', '1098', '1099', '1101', '1102', '1103', '1105', '1106', '1107', '1108', '111', '1111', '1112', '1113', '1119', '112', '1121', '1122', '1123', '1124', '1125', '1126', '1127', '1128', '1129', '113', '1131', '1132', '1133', '1134', '1135', '1136', '1137', '1138', '1139', '1142', '1143', '1144', '1145', '1146', '1148', '1149', '115', '1151', '1155', '1157', '1161', '1163', '1173', '1174', '1175', '1176', '1177', '1178', '1179', '118', '1181', '1182', '1183', '1184', '1185', '1186', '1188', '1189', '119', '1191', '1192', '1193', '1195', '1196', '1197', '1198', '1199', '1203', '1208', '121', '1212', '1213', '1214', '1221', '1223', '1224', '1225', '1226', '1227', '1228', '1229', '123', '1231', '1233', '1234', '1236', '1239', '124', '1241', '1242', '1243', '1246', '1247', '1248', '1249', '125', '1252', '1253', '1254', '1256', '1259', '126', '1261', '1365', '1368', '137', '1394', '1395', '1396', '1402', '1405', '1407', '1424', '1429', '1443', '1444', '1445', '1547', '155', '1554', '1557', '1599', '1601', '1608', '1609', '1614', '1616', '1617', '1618', '1619', '162', '1638', '1639', '164', '1641', '1643', '1649', '165', '1655', '1657', '1658', '1662', '1663', '1682', '1685', '1686', '1687', '1688', '1691', '1706', '1707', '1709', '171', '1711', '1713', '1714', '1715', '1716', '1717', '1718', '1722', '1723', '1724', '1725', '1726', '1727', '1729', '173', '1731', '1732', '1733', '1734', '1759', '176', '1761', '1764', '1767', '1828', '1834', '1836', '1837', '1838', '184', '1858', '186', '1861', '1863', '1866', '1882', '1884', '1885', '1888', '189', '1892', '1893', '1894', '1895', '1897', '1899', '1901', '1902', '1906', '1907', '1913', '1914', '1915', '1918', '1921', '1925', '1926', '1927', '1931', '1933', '1935', '1936', '1937', '1944', '1945', '1953', '1954', '1955', '1956', '1959', '196', '1961', '1962', '1964', '1965', '1966', '1977', '1978', '1979', '1983', '1985', '199', '1991', '1996', '2004', '2007', '201', '2011', '2017', '2018', '2021', '2025', '2026', '2029', '2031', '2032', '2033', '2039', '204', '2045', '2048', '2049', '205', '2068', '207', '2071', '2075', '2076', '2078', '2079', '2082', '2083', '2084', '2136', '2138', '2139', '2142', '2143', '2151', '2152', '2153', '216', '2164', '2165', '2167', '2168', '2169', '217', '2171', '2172', '2173', '2174', '2176', '2177', '218', '2185', '2186', '2189', '2193', '2194', '2195', '2199', '2201', '2202', '2203', '2204', '2206', '2207', '2212', '2215', '2216', '2217', '2218', '2219', '2221', '2231', '2232', '2233', '2234', '2235', '2236', '2237', '2238', '2239', '224', '2241', '2242', '2243', '2244', '2245', '2246', '2247', '2248', '2249', '225', '2251', '2252', '2253', '2254', '2255', '2256', '2257', '2258', '2259', '226', '2261', '2262', '2263', '2264', '2265', '2266', '2267', '2268', '2269', '227', '2271', '2272', '2273', '2274', '2275', '2276', '2277', '2278', '2279', '228', '2281', '2282', '2283', '2284', '2285', '2286', '2287', '2288', '2289', '229', '2291', '2292', '2293', '2294', '2295', '2296', '2297', '2298', '2299', '2301', '2302', '2303', '2304', '2305', '2306', '2307', '2308', '2309', '231', '2311', '2312', '2313', '2314', '2315', '2316', '2317', '2318', '2319', '232', '2321', '2322', '2323', '2324', '2325', '2326', '2327', '2328', '2329', '233', '2331', '2332', '2492', '2493', '2499', '2502', '251', '2826', '2828', '2829', '2833', '2835', '2837', '2839', '2845', '2886', '2966', '3096', '3097', '3184', '3185', '3191', '3193', '3194', '3195', '3196', '3201', '3207', '3208', '3209', '321', '3213', '3216', '3218', '3219', '3225', '3226', '3227', '3231', '3233', '3235', '3238', '3239', '324', '3241', '3243', '3245', '3248', '325', '3252', '3258', '326', '3265', '3267', '3269', '3272', '3273', '3275', '3281', '3282', '3286', '3287', '3288', '3289', '3291', '3293', '3296', '3299', '3301', '3302', '3304', '3305', '3307', '3308', '3309', '3311', '3315', '3317', '3318', '3319', '332', '3321', '3338', '334', '3341', '3345', '3357', '3373', '3392', '3394', '3404', '3405', '3407', '3409', '341', '3411', '3412', '3417', '3418', '3419', '342', '3421', '3428', '3437', '3441', '3445', '3446', '3447', '3449', '345', '3451', '3458', '3464', '3466', '347', '3471', '3475', '3477', '3478', '348', '3481', '3482', '3483', '3484', '3485', '3486', '3487', '3488', '3489', '349', '3491', '3492', '3497', '3504', '3506', '3514', '3515', '3518', '3521', '3527', '3528', '3532', '3534', '3538', '354', '3543', '3547', '3552', '3553', '3554', '3559', '356', '3561', '3562', '3576', '3577', '358', '3589', '359', '3591', '3592', '3593', '3594', '3595', '3596', '3597', '3598', '3599', '3601', '3606', '3607', '3616', '3617', '3618', '3622', '3623', '3625', '3627', '366', '3661', '367', '3674', '3691', '3704', '3705', '3707', '3708', '3711', '3713', '3714', '3719', '372', '3721', '3722', '3723', '3726', '3728', '3729', '373', '3819', '3837', '3845', '3863', '3867', '387', '3872', '3873', '3897', '3898', '39', '3901', '3905', '3971', '3972', '3973', '3976', '3978', '398', '3981', '3982', '3983', '3986', '3987', '3988', '3989', '399', '3991', '4319', '4843', '4942', '5129', '5133', '5149', '5193', '5194', '5195', '5939', '5941', '5942', '5943', '5944', '5945', '5946', '5947', '5948', '5949', '5953', '5954', '5955', '5956', '5957', '5959', '5961', '5962', '5963', '5964', '5965', '5966', '5967', '5968', '5969', '5971', '5972', '5973', '5974', '5975', '5976', '5977', '5978', '5979', '5981', '5982', '5983', '5984', '5985', '5986', '5987', '5988', '5989', '599', '5991', '5992', '5993', '5994', '5995', '5997', '5998', '6001', '6003', '6004', '6005', '6006', '6007', '6008', '6009', '6011', '6012', '6015', '6016', '6017', '6018', '6021', '6022', '6023', '6024', '6025', '6026', '6028', '6031', '6032', '6033', '6034', '6035', '6036', '6037', '6038', '6039', '6041', '6042', '6043', '6044', '6045', '6046', '6047', '6049', '6051', '6052', '6053', '6054', '6055', '6056', '6057', '6058', '6059', '6061', '6062', '6063', '6064', '6065', '6066', '6067', '6068', '6069', '6071', '6072', '6073', '6075', '6076', '6077', '6078', '6079', '6081', '6082', '6083', '6086', '6087', '6088', '6091', '6092', '6093', '6094', '6095', '6096', '6097', '6098', '6099', '6102', '6103', '6104', '6105', '6106', '6107', '6108', '6109', '6111', '6112', '6113', '6114', '6115', '6116', '6117', '6118', '6121', '6123', '6124', '6125', '6126', '6127', '6128', '6129', '6131', '6132', '6133', '6134', '6135', '6138', '6139', '6142', '6144', '6147', '6148', '6149', '6152', '6156', '6157', '6158', '6161', '6164', '6166', '6167', '6168', '6169', '6173', '6176', '6178', '6242', '6253', '6254', '6255', '6256', '6258', '6259', '6263', '6264', '6265', '6266', '6269', '6272', '6273', '6274', '6275', '6278', '6279', '6283', '6284', '6285', '6286', '6289', '6291', '6292', '6296', '6297', '6298', '6302', '6306', '6311', '6313', '6316', '6319', '6323', '6326', '6332', '6333', '6335', '6337', '6339', '6342', '6343', '6344', '6345', '6349', '6351', '6352', '6354', '6355', '6357', '6359', '6361', '6362', '6364', '6365', '6372', '6374', '6375', '6376', '6377', '6481', '6623', '6636', '6639', '6644', '6645', '6648', '6686', '6707', '6732', '6733', '6758', '6763', '6815', '6913', '6917', '6918', '6919', '6927', '6946', '7031', '7032', '7033', '7034', '7035', '7036', '7037', '7042', '7043', '7044', '7045', '7063', '7079', '7083', '7101', '7103', '7137', '7138', '7139', '7146', '7147', '7154', '7176', '7177', '7179', '7189', '7212', '7215', '7254', '726', '7304', '7307', '7308', '7349', '735', '7351', '742', '7421', '7422', '7424', '7439', '7478', '7542', '7543', '7545', '7601', '7605', '7625', '7626', '7668', '7669', '767', '7676', '7703', '7704', '7705', '7706', '7707', '7708', '7709', '771', '7711', '7712', '7713', '7721', '7722', '7723', '7725', '7732', '7733', '7739', '7751', '7752', '776', '7764', '7765', '7773', '7779', '7794', '7838', '784', '7841', '7848', '785', '7851', '7857', '7858', '786', '7865', '7868', '7889', '7894', '7895', '7896', '7897', '7899', '7938', '7955', '7956', '7964', '8026', '8027', '8046', '8054', '8055', '8059', '806', '8061', '8062', '8085', '8089', '8101', '812', '8123', '8132', '8133', '8155', '8193', '8226', '8247', '8258', '8259', '8282', '8285', '8295', '83', '8321', '8326', '8334', '8335', '834', '8355', '8356', '8357', '8359', '8361', '8362', '8378', '8381', '8383', '8385', '8386', '8387', '8388', '8389', '8394', '8399', '8404', '8405', '8407', '8408', '8426', '8436', '8437', '8438', '8439', '8468', '8477', '8487', '8488', '8492', '8494', '8499', '8501', '8514', '8517', '8526', '8529', '8531', '8532', '8536', '854', '8541', '8545', '8555', '8557', '856', '8564', '8565', '8572', '86', '8602', '8612', '8621', '8635', '8637', '8648', '868', '8682', '8702', '8725', '8751', '8753', '8758', '8768', '8781', '8835', '884', '8898', '89', '8908', '8918', '8924', '8936', '8939', '895', '8957', '8959', '8968', '8999', '9032', '9057', '9066', '9082', '9094', '9141', '9143', '9149', '9152', '9172', '9181', '9197', '9203', '9211', '9215', '9259', '9275', '9276', '9332', '9335', '9339', '9368', '937', '9372', '9379', '9383', '9407', '9408', '9415', '9551', '9579', '9586', '9589', '9591', '9595', '9598', '96', '9613', '9645', '965', '9669', '9674', '9675', '9687', '9689', '969', '9694', '9698', '9711', '9756', '9765', '9773', '10314', '10482', '10486', '10487', '10502', '10511', '10515', '10735', '1087', '10874', '10883', '10886', '10915', '11144', '11186', '11192', '11212', '11232', '11243', '11249', '11264', '11273', '11552', '11559', '1156', '11569', '11725', '11868', '11878', '11886', '11915', '11917', '11955', '11978', '12098', '12099', '12104', '12106', '12113', '12134', '12139', '12215', '1222', '12223', '12323', '12392', '12403', '12423', '12473', '12521', '12551', '12565', '12582', '12603', '12607', '12626', '12655', '12657', '12676', '1268', '1271', '12749', '12759', '12762', '12821', '12839', '12942', '12943', '12957', '12984', '1299', '13015', '13031', '13045', '13074', '1311', '13111', '13113', '13116', '13118', '13121', '13124', '13365', '13368', '1339', '13391', '13403', '13411', '1342', '1343', '13661', '13669', '13702', '1378', '13813', '13815', '1383', '13852', '13856', '13867', '13889', '13904', '13934', '13955', '13957', '13972', '13978', '13983', '13991', '14017', '14089', '14214', '14219', '14263', '14466', '14472', '14488', '14501', '14539', '14567', '14569', '1457', '14574', '14576', '14577', '14592', '14593', '14594', '1461', '14622', '14639', '14668', '14671', '14672', '147', '14814', '14835', '14839', '1484', '14846', '14869', '15089', '15102', '1511', '15111', '15114', '15294', '15351', '15356', '15358', '15362', '15364', '1537', '15378', '15412', '15429', '16072', '16658', '16763', '16824', '16841', '16921', '16922', '16967', '16971', '16997', '17021', '17024', '17029', '17032', '17045', '17093', '17095', '17112', '17114', '17125', '17127', '17128', '17131', '17143', '17145', '17177', '17192', '17229', '17282', '17284', '17296', '17311', '17318', '17325', '17337', '17384', '17404', '17405', '17406', '17407', '17408', '1741', '17411', '17415', '17416', '17418', '17419', '1742', '17422', '17423', '17426', '17428', '1743', '17431', '17432', '17434', '17435', '17441', '17442', '17445', '1745', '17455', '17461', '17464', '17468', '17478', '17479', '17483', '17487', '17488', '17493', '17496', '17499', '17503', '17504', '17505', '17506', '17507', '17508', '17509', '1751', '17511', '17512', '17514', '17515', '17516', '17517', '17518', '17521', '17525', '17526', '17527', '17528', '17529', '1753', '17531', '17535', '17536', '17537', '17538', '17539', '1754', '17541', '17545', '17547', '17548', '17553', '17555', '17556', '17561', '17562', '17569', '17571', '17592', '17595', '17598', '17601', '17605', '17609', '17611', '17612', '17613', '17614', '17615', '17616', '17618', '17619', '1762', '17621', '17622', '17623', '17625', '17627', '17628', '17629', '1763', '17631', '17632', '17633', '17634', '17635', '17636', '17637', '17638', '17639', '17642', '17644', '17645', '1765', '17651', '17652', '17653', '17655', '17657', '17658', '17659', '17661', '17663', '17664', '17665', '17666', '17667', '17669', '17671', '17672', '17673', '17674', '17676', '17677', '17678', '17679', '1768', '17681', '17682', '17683', '17684', '17685', '17686', '1769', '17692', '17693', '17694', '17695', '17697', '17698', '17702', '17703', '17704', '17705', '17706', '17707', '17708', '17709', '1771', '17711', '17712', '17713', '17714', '17715', '17716', '17717', '17718', '17719', '1772', '17721', '17722', '17723', '17724', '17725', '17726', '17727', '17728', '17729', '1773', '17731', '17732', '17733', '17734', '17735', '17736', '17737', '17738', '17739', '1774', '17741', '17742', '17743', '17744', '17745', '17746', '17747', '17748', '17749', '1775', '17751', '17752', '17753', '17754', '17755', '17756', '17757', '17758', '17759', '1776', '17761', '17762', '17774', '17776', '17777', '17778', '17779', '1778', '17781', '17782', '17783', '17784', '17785', '17786', '17787', '17788', '17789', '1779', '17797', '17798', '17802', '17806', '17809', '17813', '17816', '17819', '1782', '17824', '17826', '17827', '17828', '17829', '17831', '17833', '17845', '17848', '17851', '17852', '17854', '17856', '17857', '17861', '17863', '17864', '17867', '17869', '17873', '17874', '17876', '17878', '1788', '17881', '17882', '17883', '17884', '17885', '17886', '17887', '17889', '17905', '17917', '17919', '17922', '17923', '17954', '17959', '18027', '18058', '18061', '18066', '18069', '18071', '18072', '18073', '18074', '18075', '18077', '18078', '1808', '18084', '18085', '1809', '18091', '18092', '18095', '18097', '18099', '18101', '18105', '18106', '18107', '18108', '1811', '18111', '18112', '18113', '18114', '18115', '18116', '18117', '18118', '18126', '18128', '18129', '1813', '18132', '18134', '18135', '18137', '18141', '18142', '18144', '18155', '18156', '18163', '18166', '18169', '18171', '18176', '18182', '18183', '18185', '18194', '18198', '182', '18202', '18211', '18305', '18326', '18327', '18328', '18329', '1833', '18331', '18332', '18334', '18335', '18338', '18342', '18344', '18345', '18346', '18347', '18348', '18354', '18355', '18356', '18358', '18361', '18362', '18364', '18366', '18368', '18369', '18376', '18377', '18378', '18379', '18381', '18382', '18383', '18384', '18385', '18388', '1839', '18392', '18396', '18398', '18416', '18417', '18418', '18419', '1842', '18421', '18422', '18423', '18424', '18425', '18426', '18427', '18428', '18429', '1843', '18431', '18432', '18433', '18434', '18435', '18436', '18437', '18438', '18439', '1844', '18441', '18442', '18443', '18454', '18459', '18461', '18464', '18465', '18466', '18467', '18488', '1849', '18502', '18505', '18512', '18515', '18517', '18533', '18536', '18537', '18538', '18541', '18542', '18543', '18544', '18545', '18547', '18548', '18549', '1855', '18551', '18552', '18553', '18554', '18555', '18556', '18557', '18558', '18559', '18564', '18565', '18566', '18567', '18568', '18569', '1857', '18571', '18572', '18573', '18574', '18575', '18576', '18579', '18581', '18585', '18586', '18587', '18588', '18589', '1859', '18591', '18592', '18593', '18594', '18595', '18596', '18597', '18598', '18601', '18602', '18603', '18604', '18605', '18606', '18607', '18612', '18614', '18616', '18621', '18622', '18623', '18624', '18627', '18628', '18629', '18633', '18636', '18686', '18687', '187', '18702', '18704', '18706', '18707', '18709', '18711', '18712', '18718', '18739', '19104', '19105', '19107', '19111', '19156', '19183', '19219', '19255', '19256', '19259', '19264', '19265', '19309', '19334', '19346', '19353', '19371', '19375', '19383', '19389', '19391', '19393', '19396', '19402', '19434', '19437', '19442', '19445', '19446', '19452', '19453', '19456', '19461', '19462', '19463', '19465', '19466', '19467', '19468', '19469', '1947', '19472', '19473', '19475', '19476', '19477', '19478', '19479', '1948', '19481', '19482', '19483', '19487', '19488', '19491', '19492', '19493', '19494', '19495', '19496', '195', '19501', '19502', '1951', '19512', '19532', '19561', '19711', '19813', '19828', '19831', '19832', '19836', '19976', '19995', '20137', '20144', '20146', '20147', '20148', '20164', '20168', '20214', '20226', '20254', '20255', '20367', '20433', '20632', '20728', '20753', '20966', '20967', '20982', '21082', '21222', '2125', '21258', '21452', '21601', '2162', '21658', '21782', '2191', '22155', '22553', '22576', '22724', '22768', '22797', '22835', '23044', '23056', '23057', '23058', '23171', '23175', '23176', '23184', '23245', '23307', '23311', '23312', '23314', '23318', '23319', '23324', '23503', '23522', '23523', '23525', '23529', '23533', '23538', '23584', '23603', '23604', '23684', '23695', '23703', '2376', '23879', '23887', '23892', '23893', '23894', '23898', '24022', '24026', '24028', '24029', '24049', '24176', '24177', '24178', '24179', '2418', '24181', '24182', '101P', '102P', '103P', '104P', '105P', '106P', '107P', '109P', '1010P', '1011P', '1012P', '1013P', '1014P', '1015P', '1016P', '1017P', '1018P', '1019P', '1020P', '1021P', '1022P', '1023P', '1024P', '1025P', '1026P', '1027P', '1028P', '1029P', '1030P', '1031P', '1032P', '1033P', '1034P', '1035P', '1036P', '1037P', '1038P', '1040P', '1041P', '1042P', '1043P', '1044P', '1045P', '1046P', '1048P', '1057P', '1058P', '1059P', '1060P', '1061P', '1062P', '1063P', '1064P', '1065P', '1066P', '1067P', '1068P', '1069P', '1070P', '1071P', '1072P', '1073P', '1074P', '1075P', '1076P', '1077P', '1078P', '1079P', '1080P', '1081P', '1082P', '1084P', '1086P', '1087P', '1088P', '1089P', '1097P', '1098P', '1099P', '10100P', '10103P', '10104P', '10105P', '10106P', '10107P', '10108P', '10110P', '10111P', '10112P', '10113P', '10114P', '10115P', '10116P', '10117P', '10118P', '10119P', '10120P', '10121P', '10122P', '10125P', '10126P', '10127P', '10128P', '10129P', '10130P', '10131P', '10132P', '10133P', '10135P', '10136P', '10137P', '10138P', '10139P', '10142P', '10144P', '10145P', '10146P', '10147P', '10148P', '10149P', '10150P', '10151P', '10152P', '10153P', '10154P', '10155P', '10156P', '10158P', '10159P', '10160P', '10161P',

In [ ]:
len(school_json)#ดูว่ามีkeyทั้งหมดเท่าไหร่

3543

#Seven

In [ ]:
with open('/content/gdrive/MyDrive/bsc_DPDM_data/Midterm/7-eleven.json') as json_file:
    this_json = json.loads(json_file.read())

In [ ]:
this_json.keys()  #โลเคชั่นของเซเว่น

dict_keys(['1', '4', '6', '7', '9', '11', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '28', '29', '30', '31', '32', '33', '35', '36', '38', '40', '491', '493', '494', '495', '496', '497', '498', '499', '508', '509', '510', '511', '512', '513', '515', '517', '518', '519', '520', '521', '522', '523', '524', '525', '526', '527', '528', '529', '531', '532', '533', '534', '535', '536', '537', '538', '539', '540', '541', '542', '543', '545', '546', '547', '548', '549', '550', '551', '552', '553', '554', '555', '557', '558', '560', '561', '562', '563', '564', '565', '566', '567', '568', '569', '570', '571', '572', '573', '574', '575', '576', '577', '578', '579', '580', '581', '582', '583', '584', '585', '586', '587', '588', '589', '590', '591', '592', '593', '594', '595', '596', '597', '598', '600', '601', '602', '603', '604', '605', '606', '607', '608', '609', '610', '611', '612', '613', '614', '615', '616', '617', '618', '619', '620', '621', '622', '623', '624', '625', '626', '627', '628', '629', '631', '632', '633', '634', '635', '636', '637', '638', '639', '640', '641', '642', '643', '644', '645', '646', '647', '648', '649', '650', '651', '652', '653', '654', '655', '656', '657', '658', '659', '660', '661', '662', '663', '664', '665', '666', '667', '668', '669', '670', '671', '672', '673', '674', '675', '676', '677', '678', '679', '680', '681', '682', '683', '684', '685', '686', '687', '688', '689', '690', '691', '692', '693', '694', '695', '696', '697', '698', '699', '700', '701', '702', '703', '704', '705', '706', '707', '708', '709', '710', '711', '712', '713', '714', '715', '716', '717', '718', '719', '720', '721', '722', '758', '759', '760', '761', '1024', '1033', '1056', '1057', '1058', '1061', '1062', '1063', '1064', '1065', '1066', '1067', '1068', '1070', '1071', '1073', '1074', '1077', '1078', '1079', '1080', '1081', '1082', '1084', '1085', '1086', '1088', '1089', '1091', '1092', '1094', '1096', '1097', '1098', '1099', '1100', '1101', '1102', '1103', '1105', '1106', '1107', '1108', '1110', '1111', '1112', '1113', '1119', '1120', '1121', '1122', '1123', '1124', '1125', '1126', '1127', '1128', '1129', '1130', '1131', '1132', '1133', '1134', '1135', '1136', '1137', '1138', '1139', '1142', '1143', '1144', '1145', '1146', '1148', '1149', '1150', '1151', '1155', '1157', '1161', '1163', '1173', '1174', '1175', '1176', '1177', '1178', '1179', '1180', '1181', '1182', '1183', '1184', '1185', '1186', '1188', '1189', '1190', '1191', '1192', '1193', '1195', '1196', '1197', '1198', '1199', '1203', '1208', '1210', '1212', '1213', '1214', '1221', '1223', '1224', '1225', '1226', '1227', '1228', '1229', '1230', '1231', '1233', '1234', '1236', '1239', '1240', '1241', '1242', '1243', '1246', '1247', '1248', '1249', '1250', '1252', '1253', '1254', '1256', '1259', '1260', '1261', '1365', '1368', '1370', '1394', '1395', '1396', '1402', '1405', '1407', '1424', '1429', '1443', '1444', '1445', '1547', '1550', '1554', '1557', '1599', '1600', '1601', '1608', '1609', '1614', '1616', '1617', '1618', '1619', '1620', '1638', '1639', '1640', '1641', '1643', '1649', '1650', '1655', '1657', '1658', '1662', '1663', '1682', '1685', '1686', '1687', '1688', '1691', '1706', '1707', '1709', '1710', '1711', '1713', '1714', '1715', '1716', '1717', '1718', '1722', '1723', '1724', '1725', '1726', '1727', '1729', '1730', '1731', '1732', '1733', '1734', '1759', '1760', '1761', '1764', '1767', '1828', '1834', '1836', '1837', '1838', '1840', '1858', '1860', '1861', '1863', '1866', '1882', '1884', '1885', '1888', '1890', '1892', '1893', '1894', '1895', '1897', '1899', '1901', '1902', '1906', '1907', '1913', '1914', '1915', '1918', '1921', '1925', '1926', '1927', '1931', '1933', '1935', '1936', '1937', '1944', '1945', '1953', '1954', '1955', '1956', '1959', '1960', '1961', '1962', '1964', '1965', '1966', '1977', '1978', '1979', '1983', '1985', '1990', '1991', '1996', '2004', '2007', '2010', '2011', '2017', '2018', '2021', '2025', '2026', '2029', '2031', '2032', '2033', '2039', '2040', '2045', '2048', '2049', '2050', '2068', '2070', '2071', '2075', '2076', '2078', '2079', '2082', '2083', '2084', '2136', '2138', '2139', '2142', '2143', '2151', '2152', '2153', '2160', '2164', '2165', '2167', '2168', '2169', '2170', '2171', '2172', '2173', '2174', '2176', '2177', '2180', '2185', '2186', '2189', '2193', '2194', '2195', '2199', '2200', '2201', '2202', '2203', '2204', '2206', '2207', '2212', '2215', '2216', '2217', '2218', '2219', '2221', '2231', '2232', '2233', '2234', '2235', '2236', '2237', '2238', '2239', '2240', '2241', '2242', '2243', '2244', '2245', '2246', '2247', '2248', '2249', '2250', '2251', '2252', '2253', '2254', '2255', '2256', '2257', '2258', '2259', '2260', '2261', '2262', '2263', '2264', '2265', '2266', '2267', '2268', '2269', '2270', '2271', '2272', '2273', '2274', '2275', '2276', '2277', '2278', '2279', '2280', '2281', '2282', '2283', '2284', '2285', '2286', '2287', '2288', '2289', '2290', '2291', '2292', '2293', '2294', '2295', '2296', '2297', '2298', '2299', '2300', '2301', '2302', '2303', '2304', '2305', '2306', '2307', '2308', '2309', '2310', '2311', '2312', '2313', '2314', '2315', '2316', '2317', '2318', '2319', '2320', '2321', '2322', '2323', '2324', '2325', '2326', '2327', '2328', '2329', '2330', '2331', '2332', '2492', '2493', '2499', '2502', '2510', '2826', '2828', '2829', '2833', '2835', '2837', '2839', '2845', '2886', '2966', '3096', '3097', '3184', '3185', '3191', '3193', '3194', '3195', '3196', '3201', '3207', '3208', '3209', '3210', '3213', '3216', '3218', '3219', '3225', '3226', '3227', '3231', '3233', '3235', '3238', '3239', '3240', '3241', '3243', '3245', '3248', '3250', '3252', '3258', '3260', '3265', '3267', '3269', '3272', '3273', '3275', '3281', '3282', '3286', '3287', '3288', '3289', '3291', '3293', '3296', '3299', '3301', '3302', '3304', '3305', '3307', '3308', '3309', '3311', '3315', '3317', '3318', '3319', '3320', '3321', '3338', '3340', '3341', '3345', '3357', '3373', '3392', '3394', '3404', '3405', '3407', '3409', '3410', '3411', '3412', '3417', '3418', '3419', '3420', '3421', '3428', '3437', '3441', '3445', '3446', '3447', '3449', '3450', '3451', '3458', '3464', '3466', '3470', '3471', '3475', '3477', '3478', '3480', '3481', '3482', '3483', '3484', '3485', '3486', '3487', '3488', '3489', '3490', '3491', '3492', '3497', '3504', '3506', '3514', '3515', '3518', '3521', '3527', '3528', '3532', '3534', '3538', '3540', '3543', '3547', '3552', '3553', '3554', '3559', '3560', '3561', '3562', '3576', '3577', '3580', '3589', '3590', '3591', '3592', '3593', '3594', '3595', '3596', '3597', '3598', '3599', '3601', '3606', '3607', '3616', '3617', '3618', '3622', '3623', '3625', '3627', '3660', '3661', '3670', '3674', '3691', '3704', '3705', '3707', '3708', '3711', '3713', '3714', '3719', '3720', '3721', '3722', '3723', '3726', '3728', '3729', '3730', '3819', '3837', '3845', '3863', '3867', '3870', '3872', '3873', '3897', '3898', '3900', '3901', '3905', '3971', '3972', '3973', '3976', '3978', '3980', '3981', '3982', '3983', '3986', '3987', '3988', '3989', '3990', '3991', '4319', '4843', '4942', '5129', '5130', '5133', '5149', '5193', '5194', '5195', '5939', '5940', '5941', '5942', '5943', '5944', '5945', '5946', '5947', '5948', '5949', '5950', '5953', '5954', '5955', '5956', '5957', '5959', '5960', '5961', '5962', '5963', '5964', '5965', '5966', '5967', '5968', '5969', '5970', '5971', '5972', '5973', '5974', '5975', '5976', '5977', '5978', '5979', '5980', '5981', '5982', '5983', '5984', '5985', '5986', '5987', '5988', '5989', '5990', '5991', '5992', '5993', '5994', '5995', '5997', '5998', '6000', '6001', '6003', '6004', '6005', '6006', '6007', '6008', '6009', '6010', '6011', '6012', '6015', '6016', '6017', '6018', '6020', '6021', '6022', '6023', '6024', '6025', '6026', '6028', '6030', '6031', '6032', '6033', '6034', '6035', '6036', '6037', '6038', '6039', '6040', '6041', '6042', '6043', '6044', '6045', '6046', '6047', '6049', '6050', '6051', '6052', '6053', '6054', '6055', '6056', '6057', '6058', '6059', '6060', '6061', '6062', '6063', '6064', '6065', '6066', '6067', '6068', '6069', '6070', '6071', '6072', '6073', '6075', '6076', '6077', '6078', '6079', '6080', '6081', '6082', '6083', '6086', '6087', '6088', '6090', '6091', '6092', '6093', '6094', '6095', '6096', '6097', '6098', '6099', '6100', '6102', '6103', '6104', '6105', '6106', '6107', '6108', '6109', '6111', '6112', '6113', '6114', '6115', '6116', '6117', '6118', '6120', '6121', '6123', '6124', '6125', '6126', '6127', '6128', '6129', '6130', '6131', '6132', '6133', '6134', '6135', '6138', '6139', '6140', '6142', '6144', '6147', '6148', '6149', '6150', '6152', '6156', '6157', '6158', '6160', '6161', '6164', '6166', '6167', '6168', '6169', '6173', '6176', '6178', '6242', '6253', '6254', '6255', '6256', '6258', '6259', '6263', '6264', '6265', '6266', '6269', '6270', '6272', '6273', '6274', '6275', '6278', '6279', '6280', '6283', '6284', '6285', '6286', '6289', '6290', '6291', '6292', '6296', '6297', '6298', '6302', '6306', '6310', '6311', '6313', '6316', '6319', '6323', '6326', '6332', '6333', '6335', '6337', '6339', '6342', '6343', '6344', '6345', '6349', '6350', '6351', '6352', '6354', '6355', '6357', '6359', '6360', '6361', '6362', '6364', '6365', '6370', '6372', '6374', '6375', '6376', '6377', '6481', '6623', '6636', '6639', '6644', '6645', '6648', '6686', '6707', '6732', '6733', '6758', '6763', '6815', '6910', '6913', '6917', '6918', '6919', '6927', '6946', '6960', '7031', '7032', '7033', '7034', '7035', '7036', '7037', '7042', '7043', '7044', '7045', '7063', '7079', '7083', '7101', '7103', '7137', '7138', '7139', '7146', '7147', '7154', '7170', '7176', '7177', '7179', '7189', '7212', '7215', '7254', '7260', '7304', '7307', '7308', '7349', '7350', '7351', '7420', '7421', '7422', '7424', '7439', '7478', '7542', '7543', '7545', '7601', '7605', '7625', '7626', '7668', '7669', '7670', '7676', '7703', '7704', '7705', '7706', '7707', '7708', '7709', '7710', '7711', '7712', '7713', '7721', '7722', '7723', '7725', '7732', '7733', '7739', '7751', '7752', '7760', '7764', '7765', '7773', '7779', '7794', '7838', '7840', '7841', '7848', '7850', '7851', '7857', '7858', '7860', '7865', '7868', '7889', '7894', '7895', '7896', '7897', '7899', '7938', '7955', '7956', '7964', '8026', '8027', '8046', '8054', '8055', '8059', '8060', '8061', '8062', '8085', '8089', '8101', '8120', '8123', '8132', '8133', '8155', '8193', '8226', '8247', '8258', '8259', '8282', '8285', '8295', '8300', '8321', '8326', '8334', '8335', '8340', '8355', '8356', '8357', '8359', '8361', '8362', '8378', '8381', '8383', '8385', '8386', '8387', '8388', '8389', '8394', '8399', '8404', '8405', '8407', '8408', '8426', '8436', '8437', '8438', '8439', '8468', '8477', '8487', '8488', '8492', '8494', '8499', '8501', '8514', '8517', '8526', '8529', '8531', '8532', '8536', '8540', '8541', '8545', '8555', '8557', '8560', '8564', '8565', '8572', '8600', '8602', '8612', '8621', '8635', '8637', '8648', '8680', '8682', '8702', '8725', '8751', '8753', '8758', '8768', '8781', '8835', '8840', '8898', '8900', '8908', '8918', '8924', '8936', '8939', '8950', '8957', '8959', '8968', '8999', '9032', '9057', '9066', '9082', '9094', '9141', '9143', '9149', '9152', '9172', '9181', '9197', '9203', '9211', '9215', '9259', '9275', '9276', '9332', '9335', '9339', '9368', '9370', '9372', '9379', '9383', '9407', '9408', '9415', '9551', '9579', '9586', '9589', '9591', '9595', '9598', '9600', '9613', '9645', '9650', '9669', '9674', '9675', '9687', '9689', '9690', '9694', '9698', '9711', '9756', '9765', '9773', '10314', '10482', '10486', '10487', '10502', '10511', '10515', '10735', '10870', '10874', '10883', '10886', '10915', '11144', '11186', '11192', '11212', '11232', '11243', '11249', '11264', '11273', '11550', '11552', '11559', '11560', '11569', '11725', '11868', '11878', '11886', '11915', '11917', '11955', '11978', '12098', '12099', '12104', '12106', '12113', '12134', '12139', '12215', '12220', '12223', '12250', '12310', '12323', '12392', '12403', '12423', '12473', '12520', '12521', '12551', '12560', '12565', '12582', '12603', '12607', '12626', '12655', '12657', '12676', '12680', '12710', '12749', '12759', '12762', '12821', '12839', '12942', '12943', '12957', '12984', '12990', '13015', '13031', '13045', '13074', '13110', '13111', '13113', '13116', '13118', '13121', '13124', '13365', '13368', '13390', '13391', '13403', '13411', '13420', '13430', '13661', '13669', '13702', '13780', '13813', '13815', '13830', '13852', '13856', '13867', '13889', '13904', '13934', '13955', '13957', '13972', '13978', '13983', '13991', '14017', '14089', '14214', '14219', '14263', '14466', '14472', '14488', '14501', '14539', '14567', '14569', '14570', '14574', '14576', '14577', '14592', '14593', '14594', '14610', '14622', '14639', '14668', '14671', '14672', '14700', '14814', '14835', '14839', '14840', '14846', '14869', '15089', '15102', '15110', '15111', '15114', '15294', '15351', '15356', '15358', '15362', '15364', '15370', '15378', '15412', '15429', '16072', '16658', '16763', '16824', '16841', '16921', '16922', '16967', '16971', '16997', '17021', '17024', '17029', '17032', '17045', '17090', '17093', '17095', '17112', '17114', '17125', '17127', '17128', '17131', '17143', '17145', '17150', '17177', '17192', '17229', '17282', '17284', '17296', '17311', '17318', '17325', '17337', '17384', '17404', '17405', '17406', '17407', '17408', '17410', '17411', '17415', '17416', '17418', '17419', '17420', '17422', '17423', '17426', '17428', '17430', '17431', '17432', '17434', '17435', '17441', '17442', '17445', '17450', '17455', '17461', '17464', '17468', '17478', '17479', '17483', '17487', '17488', '17493', '17496', '17499', '17503', '17504', '17505', '17506', '17507', '17508', '17509', '17510', '17511', '17512', '17514', '17515', '17516', '17517', '17518', '17521', '17525', '17526', '17527', '17528', '17529', '17530', '17531', '17535', '17536', '17537', '17538', '17539', '17540', '17541', '17545', '17547', '17548', '17553', '17555', '17556', '17561', '17562', '17569', '17571', '17590', '17592', '17595', '17598', '17601', '17605', '17609', '17610', '17611', '17612', '17613', '17614', '17615', '17616', '17618', '17619', '17620', '17621', '17622', '17623', '17625', '17627', '17628', '17629', '17630', '17631', '17632', '17633', '17634', '17635', '17636', '17637', '17638', '17639', '17642', '17644', '17645', '17650', '17651', '17652', '17653', '17655', '17657', '17658', '17659', '17661', '17663', '17664', '17665', '17666', '17667', '17669', '17671', '17672', '17673', '17674', '17676', '17677', '17678', '17679', '17680', '17681', '17682', '17683', '17684', '17685', '17686', '17690', '17692', '17693', '17694', '17695', '17697', '17698', '17702', '17703', '17704', '17705', '17706', '17707', '17708', '17709', '17710', '17711', '17712', '17713', '17714', '17715', '17716', '17717', '17718', '17719', '17720', '17721', '17722', '17723', '17724', '17725', '17726', '17727', '17728', '17729', '17730', '17731', '17732', '17733', '17734', '17735', '17736', '17737', '17738', '17739', '17740', '17741', '17742', '17743', '17744', '17745', '17746', '17747', '17748', '17749', '17750', '17751', '17752', '17753', '17754', '17755', '17756', '17757', '17758', '17759', '17760', '17761', '17762', '17774', '17776', '17777', '17778', '17779', '17780', '17781', '17782', '17783', '17784', '17785', '17786', '17787', '17788', '17789', '17790', '17797', '17798', '17802', '17806', '17809', '17813', '17816', '17819', '17820', '17824', '17826', '17827', '17828', '17829', '17831', '17833', '17845', '17848', '17851', '17852', '17854', '17856', '17857', '17861', '17863', '17864', '17867', '17869', '17873', '17874', '17876', '17878', '17880', '17881', '17882', '17883', '17884', '17885', '17886', '17887', '17889', '17905', '17917', '17919', '17922', '17923', '17954', '17959', '18027', '18058', '18061', '18066', '18069', '18071', '18072', '18073', '18074', '18075', '18077', '18078', '18080', '18084', '18085', '18090', '18091', '18092', '18095', '18097', '18099', '18101', '18105', '18106', '18107', '18108', '18110', '18111', '18112', '18113', '18114', '18115', '18116', '18117', '18118', '18126', '18128', '18129', '18130', '18132', '18134', '18135', '18137', '18141', '18142', '18144', '18155', '18156', '18163', '18166', '18169', '18171', '18176', '18182', '18183', '18185', '18194', '18198', '18200', '18202', '18211', '18305', '18326', '18327', '18328', '18329', '18330', '18331', '18332', '18334', '18335', '18338', '18342', '18344', '18345', '18346', '18347', '18348', '18354', '18355', '18356', '18358', '18361', '18362', '18364', '18366', '18368', '18369', '18376', '18377', '18378', '18379', '18380', '18381', '18382', '18383', '18384', '18385', '18388', '18390', '18392', '18396', '18398', '18416', '18417', '18418', '18419', '18420', '18421', '18422', '18423', '18424', '18425', '18426', '18427', '18428', '18429', '18430', '18431', '18432', '18433', '18434', '18435', '18436', '18437', '18438', '18439', '18440', '18441', '18442', '18443', '18454', '18459', '18461', '18464', '18465', '18466', '18467', '18488', '18490', '18502', '18505', '18512', '18515', '18517', '18533', '18536', '18537', '18538', '18541', '18542', '18543', '18544', '18545', '18547', '18548', '18549', '18550', '18551', '18552', '18553', '18554', '18555', '18556', '18557', '18558', '18559', '18564', '18565', '18566', '18567', '18568', '18569', '18570', '18571', '18572', '18573', '18574', '18575', '18576', '18579', '18580', '18581', '18585', '18586', '18587', '18588', '18589', '18590', '18591', '18592', '18593', '18594', '18595', '18596', '18597', '18598', '18601', '18602', '18603', '18604', '18605', '18606', '18607', '18610', '18612', '18614', '18616', '18621', '18622', '18623', '18624', '18627', '18628', '18629', '18633', '18636', '18686', '18687', '18700', '18702', '18704', '18706', '18707', '18709', '18711', '18712', '18718', '18739', '19104', '19105', '19107', '19111', '19156', '19183', '19219', '19255', '19256', '19259', '19260', '19264', '19265', '19309', '19334', '19346', '19353', '19370', '19371', '19375', '19383', '19389', '19391', '19393', '19396', '19402', '19434', '19437', '19440', '19442', '19445', '19446', '19450', '19452', '19453', '19456', '19461', '19462', '19463', '19465', '19466', '19467', '19468', '19469', '19470', '19472', '19473', '19475', '19476', '19477', '19478', '19479', '19480', '19481', '19482', '19483', '19487', '19488', '19491', '19492', '19493', '19494', '19495', '19496', '19500', '19501', '19502', '19510', '19512', '19532', '19561', '19711', '19813', '19828', '19831', '19832', '19836', '19976', '19995', '20137', '20144', '20146', '20147', '20148', '20164', '20168', '20214', '20226', '20254', '20255', '20320', '20367', '20433', '20632', '20728', '20753', '20966', '20967', '20982', '21082', '21222', '21250', '21258', '21452', '21601', '21620', '21658', '21782', '21910', '22155', '22553', '22576', '22724', '22768', '22797', '22835', '23044', '23056', '23057', '23058', '23170', '23171', '23175', '23176', '23184', '23245', '23307', '23311', '23312', '23314', '23318', '23319', '23324', '23503', '23522', '23523', '23525', '23529', '23533', '23538', '23584', '23603', '23604', '23684', '23695', '23703', '23760', '23879', '23887', '23892', '23893', '23894', '23898', '24022', '24026', '24028', '24029', '24049', '24176', '24177', '24178', '24179', '24180', '24181', '24182', '101P', '102P', '103P', '104P', '105P', '106P', '107P', '108P', '109P', '1010P', '1011P', '1012P', '1013P', '1014P', '1015P', '1016P', '1017P', '1018P', '1019P', '1020P', '1021P', '1022P', '1023P', '1024P', '1025P', '1026P', '1027P', '1028P', '1029P', '1030P', '1031P', '1032P', '1033P', '1034P', '1035P', '1036P', '1037P', '1038P', '1040P', '1041P', '1042P', '1043P', '1044P', '1045P', '1046P', '1047P', '1048P', '1057P', '1058P', '1059P', '1060P', '1061P', '1062P', '1063P', '1064P', '1065P', '1066P', '1067P', '1068P', '1069P', '1070P', '1071P', '1072P', '1073P',

In [ ]:
len(this_json)#ดูว่ามีkeyทั้งหมดเท่าไหร่

3653

# 2 ทำนายสภาพอากาศ 10 คะแนน
เตรียมข้อมูลเพื่อทำนายสภาพอากาศของวันถัดไป โดย 
- กลุ่มที่ 1 และ 9 ทำนาย อุณหภูมิตุ้มแห้ง (Y)
- กลุ่มที่ 2 ทำนาย อุณหภูมิต่ำสุด (Y)
- กลุ่มที่ 3 ทำนาย อุณหภูมิจุดน้ำค้าง (Y)
- กลุ่มที่ 4 ทำนาย จำนวนเมฆ (Y)
- กลุ่มที่ 5 ทำนาย ปริมาณฝน (Y)
- กลุ่มที่ 6 ทำนาย ความชื้นสัมพัทธ์ (Y)
- กลุ่มที่ 7 ทำนาย ความกด (Y)
- กลุ่มที่ 8 ทำนาย ความเร็วลม (Y)

ลักษณะของ data เป็นดังนี้ Xi คือ features อื่นๆที่ใช้ในทำนาย และ Y คือค่าที่ต้องการทำนาย

![Screen Shot 2566-02-05 at 20.05.21.png]()

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#ความกด(เปอร์เซ็นต์)

In [ ]:
#นำข้อมูลเข้า เปลียนชื่อคอลัมบ์
KH1 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34':'ความกด'})
NA1 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ความกด'})
SA1 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ความกด'})
NO1 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ความกด'})
LO1 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ความกด'})

KH1['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
NA1['จังหวัด'] = 'นครพนม'
SA1['จังหวัด'] = 'สกลนคร'
NO1['จังหวัด'] = 'หนองคาย'
LO1['จังหวัด'] = 'เลย'

In [ ]:
pressure = [KH1, NA1, SA1, NO1, LO1] #ความกดอากาศ
allpres = pd.concat(pressure)

In [ ]:
allpres['เดือน'] = allpres['เดือน/ปี'].dt.month #การแยกเดือนปี
allpres['ปี'] = allpres['เดือน/ปี'].dt.year
del allpres['เดือน/ปี'] #ลบคอมลัมบ์ เดือน/ปี

##วนลูป

In [ ]:
p = list() #สร้างดิกชินารี่เข้ามาเก็บ
for index, row in allpres.iterrows():
  for i in range(1,32): #เพราะเราจะเอาคอลัมน์ที่มีชื่อว่า 1
         # print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความกด -> ',row[i],row['จังหวัด'])
         p.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความกด',row[i]])

pk = pd.DataFrame(p)    
pk = pd.DataFrame(p, columns=['จังหวัด','0','วันที่','1','เดือนที่','2','ปีที่','3','ความกด'])
pk.drop(['0', '1', '2','3'], 1, inplace=True)
pk

<ipython-input-191-7abb420bcab1>:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  pk.drop(['0', '1', '2','3'], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่   ความกด
0     ขอนแก่น       1        10   2011  1005.47
1     ขอนแก่น       2        10   2011  1006.65
2     ขอนแก่น       3        10   2011  1007.49
3     ขอนแก่น       4        10   2011  1008.28
4     ขอนแก่น       5        10   2011  1009.88
...       ...     ...       ...    ...      ...
8520      เลย      27         2   2022  1014.97
8521      เลย      28         2   2022  1012.88
8522      เลย      29         2   2022        -
8523      เลย      30         2   2022        -
8524      เลย      31         2   2022        -

[8525 rows x 5 columns]

#ความชื้นสัมพัทธ์(เปอร์เซ็นต์)

In [ ]:
KH2 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ความชื้น'})
NA2 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ความชื้น'})
SA2 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ความชื้น'})
NO2 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ความชื้น'})
LO2 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ความชื้น'})

KH2['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
NA2['จังหวัด'] = 'นครพนม'
SA2['จังหวัด'] = 'สกลนคร'
NO2['จังหวัด'] = 'หนองคาย'
LO2['จังหวัด'] = 'เลย'

In [ ]:
RH = [KH2, NA2, SA2, NO2, LO2] #ความชื้นสัมพัทธ์
allrh = pd.concat(RH)

In [ ]:
allrh['เดือน'] = allrh['เดือน/ปี'].dt.month #การแยกเดือนปี
allrh['ปี'] = allrh['เดือน/ปี'].dt.year
del allrh['เดือน/ปี'] #ลบคอมลัมบ์ เดือน/ปี

##วนลูป

In [ ]:
h = list() #สร้างดิกชินารี่เข้ามาเก็บ
for index, row in allrh.iterrows():
  for i in range(1,32): #เพราะเราจะเอาคอลัมน์ที่มีชื่อว่า 1
        #  print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความชื้นสัมพัทธ์ -> ',row[i],row['จังหวัด'])
         h.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความชื้นสัมพัทธ์',row[i]])

hk = pd.DataFrame(h)
hk = pd.DataFrame(h, columns=['จังหวัด','0','วันที่','1','เดือนที่','2','ปีที่','3','ความชื้นสัมพัทธ์'])
hk.drop(['0', '1', '2','3'], 1, inplace=True)
hk

<ipython-input-195-ec0d87c32717>:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  hk.drop(['0', '1', '2','3'], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่ ความชื้นสัมพัทธ์
0     ขอนแก่น       1        10   2011               83
1     ขอนแก่น       2        10   2011               92
2     ขอนแก่น       3        10   2011               86
3     ขอนแก่น       4        10   2011               80
4     ขอนแก่น       5        10   2011               86
...       ...     ...       ...    ...              ...
8520      เลย      27         2   2022               74
8521      เลย      28         2   2022               72
8522      เลย      29         2   2022                -
8523      เลย      30         2   2022                -
8524      เลย      31         2   2022                -

[8525 rows x 5 columns]

#ความเร็วลม(นอต)

In [ ]:
KH3 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ความเร็วลม'})
NA3 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ความเร็วลม'})
SA3 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ความเร็วลม'})
NO3 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ความเร็วลม'})
LO3 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ความเร็วลม'})

KH3['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
NA3['จังหวัด'] = 'นครพนม'
SA3['จังหวัด'] = 'สกลนคร'
NO3['จังหวัด'] = 'หนองคาย'
LO3['จังหวัด'] = 'เลย'

In [ ]:
wind = [KH3, NA3, SA3, NO3, LO3] #ความเร็วลม
allwind = pd.concat(wind)

In [ ]:
allwind['เดือน'] = allwind['เดือน/ปี'].dt.month #การแยกเดือนปี
allwind['ปี'] = allwind['เดือน/ปี'].dt.year
del allwind['เดือน/ปี'] #ลบคอมลัมบ์ เดือน/ปี

##วนลูป

In [ ]:
w = list() #สร้างดิกชินารี่เข้ามาเก็บ
for index, row in allwind.iterrows():
  for i in range(1,32): #เพราะเราจะเอาคอลัมน์ที่มีชื่อว่า 1
        #  print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความเร็วลม -> ',row[i],row['จังหวัด'])
         w.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความเร็วลม',row[i]])

wk = pd.DataFrame(w)
wk = pd.DataFrame(w, columns=['จังหวัด','0','วันที่','1','เดือนที่','2','ปีที่','3','ความเร็วลม'])
wk.drop(['0', '1', '2','3'], 1, inplace=True)
wk

<ipython-input-199-b29ac182b223>:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  wk.drop(['0', '1', '2','3'], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่ ความเร็วลม
0     ขอนแก่น       1        10   2011          3
1     ขอนแก่น       2        10   2011          2
2     ขอนแก่น       3        10   2011          3
3     ขอนแก่น       4        10   2011          2
4     ขอนแก่น       5        10   2011          2
...       ...     ...       ...    ...        ...
8520      เลย      27         2   2022          1
8521      เลย      28         2   2022          1
8522      เลย      29         2   2022          -
8523      เลย      30         2   2022          -
8524      เลย      31         2   2022          -

[8525 rows x 5 columns]

#จำนวนเมฆ(10ส่วน)

In [ ]:
KH4 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'จำนวนเมฆ'})
NA4 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'จำนวนเมฆ'})
SA4 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'จำนวนเมฆ'})
NO4 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'จำนวนเมฆ'})
LO4 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).iloc[:,:35].rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'จำนวนเมฆ'})

KH4['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
NA4['จังหวัด'] = 'นครพนม'
SA4['จังหวัด'] = 'สกลนคร'
NO4['จังหวัด'] = 'หนองคาย'
LO4['จังหวัด'] = 'เลย'

In [ ]:
cloud = [KH4, NA4, SA4, NO4, LO4] #ปริมาณเมฆ
allcloud = pd.concat(cloud)

In [ ]:
allcloud['เดือน'] = allcloud['เดือน/ปี'].dt.month #การแยกเดือนปี
allcloud['ปี'] = allcloud['เดือน/ปี'].dt.year
del allcloud['เดือน/ปี'] #ลบคอมลัมบ์ เดือน/ปี

##วนลูป

In [ ]:
c = list() #สร้างดิกชินารี่เข้ามาเก็บ
for index, row in allcloud.iterrows():
  for i in range(1,32): #เพราะเราจะเอาคอลัมน์ที่มีชื่อว่า 1
        #  print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'จำนวนเมฆ -> ',row[i],row['จังหวัด'])
         c.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'จำนวนเมฆ',row[i]])

ck = pd.DataFrame(c)
ck = pd.DataFrame(c, columns=['จังหวัด','0','วันที่','1','เดือนที่','2','ปีที่','3','จำนวนเมฆ'])
ck.drop(['0', '1', '2','3'], 1, inplace=True)
ck

<ipython-input-203-386856963272>:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  ck.drop(['0', '1', '2','3'], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่ จำนวนเมฆ
0     ขอนแก่น       1        10   2011        9
1     ขอนแก่น       2        10   2011       10
2     ขอนแก่น       3        10   2011       10
3     ขอนแก่น       4        10   2011        8
4     ขอนแก่น       5        10   2011       10
...       ...     ...       ...    ...      ...
8520      เลย      27         2   2022        3
8521      เลย      28         2   2022        2
8522      เลย      29         2   2022        -
8523      เลย      30         2   2022        -
8524      เลย      31         2   2022        -

[8525 rows x 5 columns]

#ปริมาณฝน(มิลลิลิตร)

In [ ]:
KH5 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ปริมาณฝน'})
NA5 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ปริมาณฝน'})
SA5 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ปริมาณฝน'})
NO5 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ปริมาณฝน'})
LO5 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'ปริมาณฝน'})

KH5['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
NA5['จังหวัด'] = 'นครพนม'
SA5['จังหวัด'] = 'สกลนคร'
NO5['จังหวัด'] = 'หนองคาย'
LO5['จังหวัด'] = 'เลย'

In [ ]:
rain = [KH5, NA5, SA5, NO5, LO5] #ปริมาณฝน
allrain = pd.concat(rain)

In [ ]:
allrain['เดือน'] = allrain['เดือน/ปี'].dt.month #การแยกเดือนปี
allrain['ปี'] = allrain['เดือน/ปี'].dt.year
del allrain['เดือน/ปี'] #ลบคอมลัมบ์ เดือน/ปี

##วนลูป

In [ ]:
r = list() #สร้างดิกชินารี่เข้ามาเก็บ
for index, row in allrain.iterrows():
  for i in range(1,32): #เพราะเราจะเอาคอลัมน์ที่มีชื่อว่า 1
        #  print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ปริมาณฝน -> ',row[i],row['จังหวัด'])
         r.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ปริมาณฝน',row[i]])

rk = pd.DataFrame(r)
rk = pd.DataFrame(r, columns=['จังหวัด','0','วันที่','1','เดือนที่','2','ปีที่','3','ปริมาณฝน'])
rk.drop(['0', '1', '2','3'], 1, inplace=True)
rk

<ipython-input-207-a33a279d38f8>:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  rk.drop(['0', '1', '2','3'], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่ ปริมาณฝน
0     ขอนแก่น       1        10   2011      1.4
1     ขอนแก่น       2        10   2011     17.7
2     ขอนแก่น       3        10   2011        3
3     ขอนแก่น       4        10   2011        0
4     ขอนแก่น       5        10   2011      2.2
...       ...     ...       ...    ...      ...
8520      เลย      27         2   2022        0
8521      เลย      28         2   2022        0
8522      เลย      29         2   2022        -
8523      เลย      30         2   2022        -
8524      เลย      31         2   2022        -

[8525 rows x 5 columns]

#อุณหภูมิจุดน้ำค้าง(เซลเซียส)

In [ ]:
KH6 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'อุณหภูมิจุดน้ำค้าง'})
NA6 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'อุณหภูมิจุดน้ำค้าง'})
SA6 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'อุณหภูมิจุดน้ำค้าง'})
NO6 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'อุณหภูมิจุดน้ำค้าง'})
LO6 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'อุณหภูมิจุดน้ำค้าง'})

KH6['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
NA6['จังหวัด'] = 'นครพนม'
SA6['จังหวัด'] = 'สกลนคร'
NO6['จังหวัด'] = 'หนองคาย'
LO6['จังหวัด'] = 'เลย'

In [ ]:
tem1 = [KH6, NA6, SA6, NO6, LO6] #อุณหภูมิจุดน้ำค้าง
alltem1 = pd.concat(tem1)

In [ ]:
alltem1['เดือน'] = alltem1['เดือน/ปี'].dt.month #การแยกเดือนปี
alltem1['ปี'] = alltem1['เดือน/ปี'].dt.year
del alltem1['เดือน/ปี'] #ลบคอมลัมบ์ เดือน/ปี

##วนลูป

In [ ]:
t = list() #สร้างดิกชินารี่เข้ามาเก็บ
for index, row in alltem1.iterrows():
  for i in range(1,32): #เพราะเราจะเอาคอลัมน์ที่มีชื่อว่า 1
        #  print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'อุณหภูมิจุดน้ำค้าง -> ',row[i],row['จังหวัด'])
         t.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'อุณหภูมิจุดน้ำค้าง',row[i]])

tk = pd.DataFrame(t)
tk = pd.DataFrame(t, columns=['จังหวัด','0','วันที่','1','เดือนที่','2','ปีที่','3','อุณหภูมิจุดน้ำค้าง'])
tk.drop(['0', '1', '2','3'], 1, inplace=True)
tk

<ipython-input-211-ce7daa3bc612>:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  tk.drop(['0', '1', '2','3'], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่ อุณหภูมิจุดน้ำค้าง
0     ขอนแก่น       1        10   2011               24.2
1     ขอนแก่น       2        10   2011               24.0
2     ขอนแก่น       3        10   2011               22.9
3     ขอนแก่น       4        10   2011               21.9
4     ขอนแก่น       5        10   2011               21.7
...       ...     ...       ...    ...                ...
8365      เลย      27         2   2021               13.8
8366      เลย      28         2   2021               15.2
8367      เลย      29         2   2021                  -
8368      เลย      30         2   2021                  -
8369      เลย      31         2   2021                  -

[8370 rows x 5 columns]

#อุณหภูมิตุ้มแห้ง(เซลเซียส)

In [ ]:
KH7 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'อุณหภูมิตุ้ม'})
NA7 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'อุณหภูมิตุ้ม'})
SA7 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'อุณหภูมิตุ้ม'})
NO7 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'อุณหภูมิตุ้ม'})
LO7 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'อุณหภูมิตุ้ม'})

KH7['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
NA7['จังหวัด'] = 'นครพนม'
SA7['จังหวัด'] = 'สกลนคร'
NO7['จังหวัด'] = 'หนองคาย'
LO7['จังหวัด'] = 'เลย'

In [ ]:
tem2 = [KH7, NA7, SA7, NO7, LO7] #อุณหภูมิตุ้มแห้ง
alltem2 = pd.concat(tem2)

In [ ]:
alltem2['เดือน'] = alltem2['เดือน/ปี'].dt.month #การแยกเดือนปี
alltem2['ปี'] = alltem2['เดือน/ปี'].dt.year
del alltem2['เดือน/ปี'] #ลบคอมลัมบ์ เดือน/ปี

##วนลูป

In [ ]:
t2 = list() #สร้างดิกชินารี่เข้ามาเก็บ
for index, row in alltem2.iterrows():
  for i in range(1,32): #เพราะเราจะเอาคอลัมน์ที่มีชื่อว่า 1
        #  print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'อุณหภูมิตุ้ม -> ',row[i],row['จังหวัด'])
         t2.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'อุณหภูมิตุ้ม',row[i]])

t2k = pd.DataFrame(t2)
t2k = pd.DataFrame(t2, columns=['จังหวัด','0','วันที่','1','เดือนที่','2','ปีที่','3','อุณหภูมิตุ้ม'])
t2k.drop(['0', '1', '2','3'], 1, inplace=True)
t2k

<ipython-input-215-b1b75e6884c2>:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  t2k.drop(['0', '1', '2','3'], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่ อุณหภูมิตุ้ม
0     ขอนแก่น       1        10   2011         27.6
1     ขอนแก่น       2        10   2011         25.6
2     ขอนแก่น       3        10   2011         25.6
3     ขอนแก่น       4        10   2011         25.8
4     ขอนแก่น       5        10   2011         24.3
...       ...     ...       ...    ...          ...
8365      เลย      27         2   2021         25.2
8366      เลย      28         2   2021         25.6
8367      เลย      29         2   2021            -
8368      เลย      30         2   2021            -
8369      เลย      31         2   2021            -

[8370 rows x 5 columns]

#อุณหภูมิต่ำสุด(เซลเซียส)

In [ ]:
KH8 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'อุณหภูมิต่ำสุด'})
NA8 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'อุณหภูมิต่ำสุด'})
SA8 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'อุณหภูมิต่ำสุด'})
NO8 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'อุณหภูมิต่ำสุด'})
LO8 = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'อุณหภูมิต่ำสุด'})

KH8['จังหวัด'] = 'ขอนแก่น' #เพิ่มคอลัมน์จังหวัด
NA8['จังหวัด'] = 'นครพนม'
SA8['จังหวัด'] = 'สกลนคร'
NO8['จังหวัด'] = 'หนองคาย'
LO8['จังหวัด'] = 'เลย'

In [ ]:
tem3 = [KH8, NA8, SA8, NO8, LO8] #อุณหภูมิต่ำสุด
alltem3 = pd.concat(tem3)

In [ ]:
alltem3['เดือน'] = alltem3['เดือน/ปี'].dt.month #การแยกเดือนปี
alltem3['ปี'] = alltem3['เดือน/ปี'].dt.year
del alltem3['เดือน/ปี'] #ลบคอมลัมบ์ เดือน/ปี

##วนลูป

In [ ]:
t3 = list() #สร้างดิกชินารี่เข้ามาเก็บ
for index, row in alltem3.iterrows():
  for i in range(1,32): #เพราะเราจะเอาคอลัมน์ที่มีชื่อว่า 1
        #  print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'อุณหภูมิต่ำสุด-> ',row[i],row['จังหวัด'])
         t3.append([row['จังหวัด'],'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'อุณหภูมิต่ำสุด',row[i]])

t3k = pd.DataFrame(t3)
t3k = pd.DataFrame(t3, columns=['จังหวัด','0','วันที่','1','เดือนที่','2','ปีที่','3','อุณหภูมิต่ำสุด'])
t3k.drop(['0', '1', '2','3'], 1, inplace=True)
t3k

<ipython-input-219-7ba0fdaa43d6>:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  t3k.drop(['0', '1', '2','3'], 1, inplace=True)

      จังหวัด  วันที่  เดือนที่  ปีที่ อุณหภูมิต่ำสุด
0     ขอนแก่น       1        10   2011           24.8
1     ขอนแก่น       2        10   2011           23.0
2     ขอนแก่น       3        10   2011           22.1
3     ขอนแก่น       4        10   2011           22.8
4     ขอนแก่น       5        10   2011           23.1
...       ...     ...       ...    ...            ...
8520      เลย      27         2   2022           15.0
8521      เลย      28         2   2022           17.6
8522      เลย      29         2   2022              -
8523      เลย      30         2   2022              -
8524      เลย      31         2   2022              -

[8525 rows x 5 columns]

# merge ทั้งหมด

In [ ]:
merge1 = pk.merge(hk, how ='inner', left_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'],right_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'])
merge2 = merge1.merge(wk, how ='inner', left_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'],right_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'])
merge3 = merge2.merge(ck, how ='inner', left_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'],right_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'])
merge4 = merge3.merge(rk, how ='inner', left_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'],right_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'])
merge5 = merge4.merge(tk, how ='inner', left_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'],right_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'])
merge6 = merge5.merge(t2k, how ='inner', left_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'],right_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'])
merge7 = merge6.merge(t3k, how ='inner', left_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'],right_on=['จังหวัด', 'วันที่',	'เดือนที่',	'ปีที่'])
merge7.head()

,จังหวัด,วันที่,เดือนที่,ปีที่,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิตุ้ม,อุณหภูมิต่ำสุด
0,ขอนแก่น,1,10,2011,1005.47,83,3,9,1.4,24.2,27.6,24.8
1,ขอนแก่น,2,10,2011,1006.65,92,2,10,17.7,24.0,25.6,23.0
2,ขอนแก่น,3,10,2011,1007.49,86,3,10,3,22.9,25.6,22.1
3,ขอนแก่น,4,10,2011,1008.28,80,2,8,0,21.9,25.8,22.8
4,ขอนแก่น,5,10,2011,1009.88,86,2,10,2.2,21.7,24.3,23.1

#จัดการข้อมูลวันที่ 29 30 31 ในเดือน 2

In [ ]:
this_merge = merge7[merge7['เดือนที่']==2]

In [ ]:
this_merge2 = this_merge[this_merge['วันที่']==29]

In [ ]:
import datetime

In [ ]:
from datetime import datetime #	เก็บค่าทั้งวันเดือนปีและเวลา

In [ ]:
columns =["วันที่","เดือนที่","ปีที่"] # สร้าง Series จาก List
merge7['ว/ด/ป'] = merge7[columns].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")
merge7['ว/ด/ป'] = pd.to_datetime(merge7['ว/ด/ป'], errors='coerce')
merge7 = merge7.dropna(subset=['ว/ด/ป'])

In [ ]:
del merge7['ว/ด/ป']

#Final Table

---

In [ ]:
merge7

,จังหวัด,วันที่,เดือนที่,ปีที่,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิตุ้ม,อุณหภูมิต่ำสุด
0,ขอนแก่น,1,10,2011,1005.47,83,3,9,1.4,24.2,27.6,24.8
1,ขอนแก่น,2,10,2011,1006.65,92,2,10,17.7,24.0,25.6,23.0
2,ขอนแก่น,3,10,2011,1007.49,86,3,10,3,22.9,25.6,22.1
3,ขอนแก่น,4,10,2011,1008.28,80,2,8,0,21.9,25.8,22.8
4,ขอนแก่น,5,10,2011,1009.88,86,2,10,2.2,21.7,24.3,23.1
...,...,...,...,...,...,...,...,...,...,...,...,...
8362,เลย,24,2,2021,1008.39,69,1,0,0,18.4,26.8,18.0
8363,เลย,25,2,2021,1006.05,61,1,0,0,17.3,27.8,19.5
8364,เลย,26,2,2021,1004.86,55,2,0,0,13.0,26.3,16.0
8365,เลย,27,2,2021,1005.76,56,1,2,0,13.8,25.2,15.3
8366,เลย,28,2,2021,1008.21,58,1,1,0,15.2,25.6,16