<a href="https://colab.research.google.com/github/Aomaphisara/bsc_dpdm22/blob/main/Quiz_Group_5_20_of_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เตรียมข้อมูลของ กรม อุตุ ([link](https://drive.google.com/drive/folders/1k6tJcTTv2bKmFz6A5oOWi-sAeTVIQpG4?usp=sharing)) ให้อยู่ในรูปแบบ ตารางด้านล่าง เพื่อเตรียมข้อมูลสำหรับสร้าง Model ทำนาย อุณภูมิต่ำสุดของวันจากค่าอื่นๆ
![image.png]()

In [1]:
import pandas as pd

In [2]:
#เชื่อม google drive 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/dpdm')

!pwd

/content/drive/MyDrive/dpdm

#ความกด(เปอร์เซ็นต์) จ.ขอนแก่น

In [24]:
pres_KKN = pd.read_excel('/content/drive/MyDrive/dpdm/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name = 'Sheet1')
pres_KKN.head()

,ความกด(เปอร์เซ็นต์),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,รายวัน,NaN,NaN,จ.ขอนแก่น,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ที่,สถานี,เดือน/ปี,วันที่,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,เฉลี่ย
3,NaN,NaN,NaN,1,2.00,3.00,4.00,5.00,6.00,7.00,...,23.00,24.00,25.00,26.00,27.00,28.00,29,30,31,NaN
4,1,352201-หนองคาย จ.หนองคาย,2011-10-01 00:00:00,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645

#ความกด(เปอร์เซ็นต์) จ.นครพนม

In [21]:
pres_NPM = pd.read_excel('/content/drive/MyDrive/dpdm/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx')
pres_NPM.head()

,ความกด(เปอร์เซ็นต์),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,รายวัน,NaN,NaN,จ.นครพนม,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ที่,สถานี,เดือน/ปี,วันที่,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,เฉลี่ย
3,NaN,NaN,NaN,1,2.00,3.00,4.00,5.00,6.00,7.00,...,23.00,24.00,25.00,26.00,27.00,28.00,29,30,31,NaN
4,1,352201-หนองคาย จ.หนองคาย,2011-10-01 00:00:00,1006.3,1007.38,1008.07,1008.44,1010.51,1011.65,1011.24,...,1011.09,1010.64,1012.01,1012.47,1012.46,1012.85,1012.43,1011.69,1012.28,1010.754839

#ความกด(เปอร์เซ็นต์) จ.เลย

In [20]:
pres_LEI= pd.read_excel('/content/drive/MyDrive/dpdm/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx')
pres_LEI.head()

,ความกด(เปอร์เซ็นต์),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,รายวัน,NaN,NaN,จ.เลย,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ที่,สถานี,เดือน/ปี,วันที่,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,เฉลี่ย
3,NaN,NaN,NaN,1,2.00,3.00,4.00,5.00,6.00,7.00,...,23.00,24.00,25.00,26.00,27.0,28.00,29,30,31,NaN
4,1,352201-หนองคาย จ.หนองคาย,2011-10-01 00:00:00,1005.12,1006.51,1007.81,1008.15,1009.21,1011.28,1011.22,...,1010.79,1010.25,1011.52,1012.04,1012.0,1012.74,1011.69,1011.27,1011.71,1010.343871

#ความกด(เปอร์เซ็นต์) จ.สกลนคร

In [25]:
pres_SNK= pd.read_excel('/content/drive/MyDrive/dpdm/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name =  'Sheet1')
pres_SNK.head()

,ความกด(เปอร์เซ็นต์),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,รายวัน,NaN,NaN,จ.สกลนคร,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ที่,สถานี,เดือน/ปี,วันที่,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,เฉลี่ย
3,NaN,NaN,NaN,1,2.00,3.00,4.00,5.00,6.00,7.00,...,23.00,24.0,25.00,26.00,27.00,28.00,29,30,31,NaN
4,1,352201-หนองคาย จ.หนองคาย,2011-10-01 00:00:00,1005.84,1007.16,1007.87,1008.56,1010.55,1011.83,1011.24,...,1011.24,1010.8,1012.02,1012.36,1012.42,1012.97,1012.52,1011.87,1012.21,1010.772258

#ความกด(เปอร์เซ็นต์) จ.หนองคาย

In [26]:
pres_NKI= pd.read_excel('/content/drive/MyDrive/dpdm/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name =  'Sheet1')
pres_NKI.head()

,ความกด(เปอร์เซ็นต์),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,รายวัน,NaN,NaN,จ.หนองคาย,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ที่,สถานี,เดือน/ปี,วันที่,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,เฉลี่ย
3,NaN,NaN,NaN,1,2.00,3.00,4.00,5.00,6.00,7.00,...,23.00,24.00,25.00,26.00,27.0,28.00,29,30,31,NaN
4,1,352201-หนองคาย จ.หนองคาย,2011-10-01 00:00:00,1005.34,1006.67,1007.39,1008.11,1009.69,1011.55,1011.28,...,1011.01,1010.71,1011.67,1012.36,1012.5,1012.81,1011.88,1011.77,1012.18,1010.580645